@media only screen and (min-width: 1400px) {
    .carousel-style-1 .owl-buttons div.owl-prev {
        left: -100px;
    }
    .carousel-style-1 .owl-buttons div.owl-next {
        right: -100px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .wa-project .caption-text {
        top: 60px;
    }
    .project-col4 .wa-project .caption-text {
        top: 30px;
    }
    .wa-product .caption-text {
        top: 100px;
    }
    .wa-product .caption-text {
        top: 60px;
    }
    .wa-product-4col .wa-product .caption-text,
    .project-flullwidth .wa-project .caption-text {
        top: 40px;
    }
    .wa-product-sidebar .wa-product .caption-text {
        top: 40px;
    }
    .order-table {
        display: table;
        min-height: 120px;
        width: 100%;
    }
    .order-table-cell {
        display: table-cell;
    }
    .order-text input {
        margin-top: 40px;
        display: inline-block;
    }
    .order-text h5 {
        margin-top: 50px;
        display: inline-block;
    }
    .order-text strong {
        margin-top: 45px;
        display: inline-block;
    }
    .carousel-style-1 .owl-buttons div.owl-prev {
        left: -12px;
    }
    .carousel-style-1 .owl-buttons div.owl-next {
        right: -12px;
    }
    .sidebar .tag-list a {
        padding: 10px 5px;
    }
    .sidebar .tag-list a:nth-child(even) {
        margin-left: 1px;
    }
    .sidebar .tag-list a:nth-child(odd) {
        margin-right: 1px;
    }
    .social-style li a,
    .widget .social-style li a {
        margin: 0px 3px;
    }
    .about-content .inner.padT100 {
        padding-top: 40px;
    }
    .content-column h2 {
        font-size: 25px;
    }
    .count-area {
        padding: 50px 0px;
        font-size: 50px;
        height: 120px;
        width: 120px;
    }
    .contact-box {
        min-height: 310px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav > li > a {
        padding: 20px 15px;
    }
    .order-table {
        display: table;
        min-height: 120px;
        width: 100%;
    }
    .wa-product .caption-text {
        top: 50px;
    }
    .wa-product-4col .wa-product .caption-text,
    .project-col4 .wa-project .caption-text {
        top: 40px;
    }
    .project-flullwidth .wa-project .caption-text {
        top: 50px;
    }
    .wa-product-sidebar .wa-product .caption-text {
        top: 40px;
    }
    .thumbnail-row img {
        width: 100%;
    }
    .order-table-cell {
        display: table-cell;
        #vertical-align: middle;
    }
    .order-text input {
        margin-top: 25px;
        display: inline-block;
    }
    .order-text h5 {
        margin-top: 50px;
        display: inline-block;
    }
    .order-text strong {
        margin-top: 30px;
        display: inline-block;
    }
    .navbar-default .navbar-brand {
        color: #000;
        float: left;
        width: 100%;
        padding: 10px 0px;
    }
    .wa-box-style2 {
        padding: 50px 30px;
    }
    ul.page-lists li a {
        padding: 10px 2px;
        font-size: 13px;
    }
    .about-content .inner.padT100 {
        padding-top: 50px;
    }
    .content-column h2 {
        font-size: 25px;
    }
    .carousel-style-1 .owl-buttons {
        padding: 0px 10px;
    }
    .upper-footer .col-md-3.col-sm-6:nth-child(3) {
        clear: both;
    }
    .coming-soon-page h1 {
        font-size: 72px;
        line-height: 75px;
        margin: 20px 0px;
    }
    .coming-soon-page h3 {
        font-size: 28px;
        line-height: 35px;
    }
    .count-area {
        padding: 55px 0px;
        font-size: 50px;
        width: 140px;
        height: 140px;
    }
    .sidebar .tag-list a {
        padding: 10px 6px;
    }
    .sidebar .tag-list a:nth-child(even) {
        margin-left: 1px;
    }
    .sidebar .tag-list a:nth-child(odd) {
        margin-right: 1px;
    }
    .contact-box {
        min-height: 354px;
    }
}
@media only screen and (max-width: 991px) {
    #top-bar .pull-left,
    #top-bar .pull-right {
        width: 100%;
        text-align: center;
    }
    #top-bar ul li:after {
        width: 0px;
        margin-right: 0px;
    }
    #top-bar ul li a {
        margin-right: 10px;
    }
    .wa_main_bn_wrap figure figcaption {
        text-align: center;
    }
    .wa_main_bn_wrap figcaption h2 {
        font-size: 40px;
    }
    .about-content .image-column {
        margin-bottom: 30px;
    }
    .wa-project-caption h2 a {
        font-size: 18px;
    }
    .wa-project-caption h2 {
        line-height: 28px;
    }
    .wa-project .caption-text {
        top: 30px;
    }
    .home-blog-item .wa-theme-design-block {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }
    .blogs_main .blog-list-caption.block-caption {
        padding: 30px 0px 0px 0px;
    }
    .carousel-style-1 .owl-buttons {
        position: absolute;
        top: calc(100% + 30px);
        text-align: center;
        margin-top: 0px;
        left: calc(50% - 65px);
        width: 130px;
    }
    .wa_main_bn_wrap figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .carousel-style-1 .owl-buttons div {
        position: relative;
    }
    .testimonial,
    .home-product {
        padding-bottom: 180px;
    }
    #main-footer .widget {
        margin-bottom: 30px;
        position: relative;
        float: left;
        width: 100%;
    }
    .marB-s30 {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 992px) {
    #top-bar .pull-left ul {
        text-align: left;
    }
    #top-bar .pull-right ul {
        text-align: right;
    }
    #top-bar .pull-right ul li:last-child a {
        margin-right: 0;
    }
    .navbar-nav > li > a {
        padding: 35px 15px;
    }
    /* .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        padding: 15px 0px;
    } */
    .rev-content .icon-list {
        text-align: right;
    }
    .order-table {
        display: table;
        min-height: 120px;
        width: 100%;
    }
    .order-table-cell {
        display: table-cell;
    }
    .order-text input {
        margin-top: 40px;
        display: inline-block;
    }
    .order-text h5 {
        margin-top: 50px;
        display: inline-block;
    }
    .order-text strong {
        margin-top: 45px;
        display: inline-block;
    }
}
@media only screen and (max-width: 767px) {
    .order-row {
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }
    .navbar-toggle {
        margin-top: 34px;
    }
    .wa_main_bn_wrap figure {
        height: 460px;
    }
    .swiper {
        width: 100%;
        height: 400px;
    }
    .wa_main_bn_wrap figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .top_bar .first-half {
        gap: 0;
    }
    .wa-team img {
        height: 100%;
    }
    .services {
        padding: 60px 0;
    }
    .top_bar {
        display: none;
    }
    .services .card-text {
        width: 90%;
        height: auto;
    }
    .wa-team .mask-top h4 {
        font-size: 28px;
        padding: 15px 0;
    }
    .wa-team .mask-top span {
        font-size: 22px;
    }
    .special-style-full-1 {
        height: 1200px;
    }
    .rs-gallery {
        padding: 60px 0;
    }
    .centered-title {
        margin-bottom: 20px;
    }
    .services,
    .rs-gallery {
        padding: 30px 0;
    }
    .testimonial-sec {
        margin-top: 100px;
    }
    .testimonial-sec blockquote {
        margin: auto;
        width: 700px;
    }
    .special-style-full-2 {
        height: 700px;
    }
    .testimonial-sec .down-content {
        width: 700px;
        margin: auto;
    }
    .rs-gallery .gallery-item .gallery-desc .image-popup {
        width: 40%;
        font-size: 18px;
    }
    .rs-gallery .gallery-item .gallery-desc h3 {
        margin-bottom: 14px;
        font-size: 26px;
    }
    .blogs_main {
        padding: 30px 0;
    }
    .testimonial-sec blockquote {
        padding: 40px;
    }
    .special-style-full-2 {
        height: 650px;
    }
    .testimonial,
    .home-product {
        padding-bottom: 115px;
    }
    .home-blog-item {
        margin-bottom: 15px;
    }
    .blogs_main .wa-theme-design-block {
        height: auto;
    }
    .dark-theme-1 {
        height: auto;
    }
    .related-course {
        padding-top: 0;
        padding-bottom: 0;
    }
    .single-course .course-content {
        height: auto;
    }
    /* .galleryModal {
        padding-top: 50%;
    } */
    .gallery-content {
        width: 80%;
    }

    .about-section {
        padding: 60px 0;
    }
    #top-bar .pull-right ul {
        padding: 5px 0 0;
    }
    .navbar-brand {
        height: 100px;
    }
    .about-content .inner.padT100 {
        padding-top: 30px;
        margin-bottom: 100px;
        text-align: center;
    }
    .about-content .image-column {
        margin-bottom: 30px;
    }
    .wa-box-style2 {
        padding: 50px 35px;
    }
    .home-middle-widget .ratings {
        float: none;
    }
    .fun-fact-section h1 {
        font-size: 36px;
    }
    .filter-tab {
        margin-bottom: 0px;
        display: inline-block;
    }
    .wa-project .caption-text {
        top: 60px;
    }
    .carousel-style-1 .owl-buttons div {
        position: relative;
    }
    .carousel-style-1 .owl-buttons {
        position: absolute;
        top: calc(100% + 30px);
        text-align: center;
        margin-top: 0px;
        left: calc(50% - 60px);
        width: 120px;
    }
    .sidebar {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 30px;
    }
    .testimonial,
    .home-product {
        padding-bottom: 180px;
    }
    .home-blog-item {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }
    .home-blog-item:last-child {
        margin-bottom: 0px;
    }
    .wa-product .outer {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .wa-product-detail .product-thumb figure {
        margin-bottom: 30px;
    }
    .wa-product-detail .inner.padTB30 {
        padding-top: 0px;
    }
    .order-text {
        padding: 5px 0px;
    }
    .content-column h2 {
        font-size: 26px;
        line-height: 38px;
        margin: 20px 0;
    }
    #main-footer .bottom-footer {
        text-align: center;
    }
    #main-footer ul.social {
        float: none;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    #main-footer ul.social li {
        float: none;
        display: inline-block;
    }
    .news-letter-heading h2 {
        line-height: 25px;
        font-size: 20px;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .coming-soon-page h1 {
        font-size: 60px;
        line-height: 60px;
        margin: 20px 0px;
    }
    .coming-soon-page h3 {
        font-size: 18px;
    }
    .count-area {
        padding: 35px 0px;
        font-size: 42px;
        width: 100px;
        height: 100px;
    }
    .contact-map {
        width: 100%;
    }
    .home iframe {
        width: 100%;
        height: 250px;
    }
    .contact-us {
        display: none;
    }
    .contact-form.header {
        position: relative;
        top: 0;
        right: 20%;
    }
    .contact-form-container {
        width: auto;
        margin-top: 0;
    }
    form {
        width: auto;
    }
    .shadow {
        display: block;
    }
    .wa_main_bn_wrap figcaption h2 {
        font-size: 30px;
    }
    .dark-theme img {
        height: 100%;
        object-fit: contain;
    }
    .faqs .centered-title {
        margin-bottom: 36px;
    }
    .home form {
        margin-bottom: 50px;
    }
    .gallery-item img {
        height: 500px;
    }
    .ag-courses-item_title h1 {
        font-size: 32px;
    }
    .ag-courses_box {
        padding-top: 30px;
        justify-content: center;
    }
    .ag-courses-item_bg {
        top: -35px;
        right: -35px;
    }
    .ag-courses-item_date-box h4 {
        font-size: 18px;
    }
    .ag-courses-item_title {
        margin: 0 0 15px;
        min-height: 0;
    }
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: 100%;
    }
    #mySidenav a {
        padding: 10px;
        width: 40px;
        font-size: 18px;
    }
    .site_logo {
        padding: 15px 10px;
    }
    .navbar-toggle {
        padding: 8px 8px;
    }
    .testimonial .wa-box-style2 h4 {
        font-size: 20px;
    }
    .testimonial .special-style-full {
        height: 950px;
    }
    .dark-section .wa-box-style2 {
        margin-top: 65px;
    }
    .prev {
        right: 90%;
      
    }
    .slideshow-container {
        margin-top: 95px;
    }
}
@media only screen and (max-width: 479px)   {
    .navbar-default .navbar-brand {
        padding: 8px;
    }
    .swiper {
        width: 100%;
        height: 460px;
    }
    .header h1 {
        font-size: 28px;
    }
    .navbar-brand {
        height: 100px;
    }
    .wa_main_bn_wrap figcaption span {
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0px;
    }
    .gallery-content {
        width: 85%;
    }
    .wa_main_bn_wrap figcaption span span {
        line-height: 0;
    }
    .wa_main_bn_wrap figcaption h2 {
        font-size: 20px;
        line-height: 1.4em;
    }
    .sidemenu a {
        font-size: 20px;
    }
    .wa_main_bn_wrap figcaption p {
        margin: 15px 0 20px 0;
    }
    .wa_main_bn_wrap figure figcaption {
        margin: 0px;
        padding: 0px 10%;
        top: 10%;
    }
    .wa_main_bn_wrap .owl-buttons {
        bottom: 72%;
        width: 100%;
    }
    .wa_main_bn_wrap .owl-theme .owl-pagination {
        bottom: 10px;
    }
    .wa-theme-design-block {
        width: 100%;
    }
    #accordion .panel-title a {
        font-size: 16px;
    }
    .about-content .inner h2 {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0;
    }
    #accordion .panel-body p {
        font-style: 15px;
    }
    .about-content .inner p {
        font-size: 15px;
    }
    .our-team-main {
        padding: 30px 0;
    }
    .wa-team .mask-top h4 {
        font-size: 26px;
        padding: 10px 0;
    }
    .wa-team .mask-top span {
        font-size: 20px;
    }
    .centered-title h2 {
        font-size: 22px;
    }
    .blogs_main .block-caption h4 a {
        font-size: 18px;
    }
    .single-course {
        height: auto;
        margin-bottom: 25px;
    }
    .single-course .course-content {
        height: auto;
    }
    .services .card-title {
        margin-bottom: 10px;
    }
    section.shadow {
        padding: 27px 15%;
    }
    .ag-courses_box {
        padding-top: 30px;
    }
    .ag-courses-item_bg {
        top: -35px;
        right: -35px;
    }
    .ag-courses-item_title h1 {
        font-size: 32px;
    }
    .ag-courses-item_date-box h4 {
        font-size: 18px;
    }
    .ag-courses-item_title {
        margin: 0 0 15px;
    }
    .testimonial .special-style-full {
        height: 1100px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 475px)  {
    .swiper {
        width: 100%;
        height: 500px;
    }
    .wa_main_bn_wrap figure {
        height: 500px;
    }
    .wa_main_bn_wrap figure figcaption {
        padding: 0px 6%;
        top: 12%;
    }
}
